/*
 */



.cm-kk-amount-info {
    margin-bottom: 60px;
    margin-top: -20px;
}


#cm-kk-add-contingent-form {

    input#anbieter {
        width: 100%;
    }

    input#groesse {
        width: 100px;
    }

}
