/**
 * Backend styles.
 *
 * @author  Marco Di Bella
 * @package cm-theme-addon-ticketpool
 */



/** Mixins */

@import 'mixins/_responsive';



/** (Table) Forms */

.form-table-add-contingent,
.form-table-email-template,
.form-table-tools {
    width: 100%;

    @include respond-to(medium) {
        width: 60%;
    }
}


.form-table-add-contingent input#groesse {
    width: 100px;
}


.form-table-email-template input#subject {
    width: 100%;
}


.form-table-email-template textarea#message {
    height: 20rem;
    width: 100%;
}


.form-table-tools .button-col {
    padding: 0 2rem;
}


/** Some info */


.cmkk-amount-info {
    margin-bottom: 60px;
}


/** Navigation */

.toplevel_page_cmkk_mainpage  {

    h1.nav-tab-wrapper,
    .wrap h2.nav-tab-wrapper,
    .nav-tab-wrapperr {
        margin-top: 40px;
        margin-bottom: 40px;

        & > *:first-child {
            margin-top: 0;
        }
    }
}
