/**
 * Backend styles.
 *
 * @author  Marco Di Bella
 * @package cm-theme-addon-kartenkontingent
 */


.cmkk-amount-info {
    margin-bottom: 60px;
}


#cmkk-add-contingent-form {

    input#anbieter {
        width: 100%;
    }

    input#groesse {
        width: 100px;
    }

}


#cmkk-mail-template-form {

    input#subject,
    textarea#message {
        width: 100%;
    }

    textarea#message {
        height: 20rem;
    }

}

.toplevel_page_cmkk_mainpage  {

    .wrap h1.wp-heading-inline {
        margin-bottom: 40px;
    }

    .nav-tab-wrapper,
    .wrap h2.nav-tab-wrapper,
    h1.nav-tab-wrapper {
        margin-bottom: 40px;

        & > *:first-child {
            margin-top: 0;
        }
    }
}
